<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>Location.LocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPreters</servlet-name>
        <servlet-class>Bibliotheque.ServletPreters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRendres</servlet-name>
        <servlet-class>Bibliotheque.ServletRendres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMembres</servlet-name>
        <servlet-class>Bibliotheque.ServletMembres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLivres</servlet-name>
        <servlet-class>Bibliotheque.ServletLivres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistoriques</servlet-name>
        <servlet-class>Bibliotheque.ServletHistoriques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPDF</servlet-name>
        <servlet-class>Bibliotheque.ServletPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPatients</servlet-name>
        <servlet-class>Bibliotheque.ServletPatients</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/LocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPreters</servlet-name>
        <url-pattern>/ServletPreters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRendres</servlet-name>
        <url-pattern>/ServletRendres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMembres</servlet-name>
        <url-pattern>/ServletMembres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLivres</servlet-name>
        <url-pattern>/ServletLivres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistoriques</servlet-name>
        <url-pattern>/ServletHistoriques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPDF</servlet-name>
        <url-pattern>/ServletPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPatients</servlet-name>
        <url-pattern>/ServletPatients</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>